.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  overflow-x: auto;
}

.table th:nth-child(1),
.table td:nth-child(1) {
  width: 10%; 
}

.table th:nth-child(5),
.table td:nth-child(5) {
  width: 15%; 
}

.table img {
  max-width: 80px; 
  height: auto;
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .table th,
  .table td {
    font-size: 12px; 
    padding: 6px; 
  }
}

.admin-habitaciones-container {
  background-image: url('../assets/imgs/principalHotel.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
