.logo-DevepHotelNavbar {
  width: 150px; /* Cambia el ancho según tus necesidades */
  height: auto; /* Mantén la proporción original con altura automática */
}

.logos_redes {
  font-size: 30px;
  color: #48a2d4;
}
